

# pycharm
.idea/

# python
__pycache__
venv/
.venv/
env/

# allure
allure_results
allure_reports

./utils/t1.py
./logs/

# Coverage
coverage.html
coverage-history.json
coverage-report.json
coverage-results